<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" offset-md="4">
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
          <!-- Name Field -->
          <ion-input
            type="text"
            formControlName="name"
            label="Name"
            labelPlacement="floating"
            fill="solid"
          >
            <ion-icon slot="start" name="person-outline"></ion-icon>
          </ion-input>
          <ion-text color="danger" *ngIf="f['name'].errors && f['name'].touched">
            <p *ngIf="f['name'].hasError('required')">Name is required.</p>
            <p *ngIf="f['name'].hasError('pattern')">Name can only contain alphabets and spaces.</p>
          </ion-text>

          <!-- Email Field -->
          <ion-input
            type="email"
            formControlName="email"
            label="Email"
            labelPlacement="floating"
            fill="solid"
          >
            <ion-icon slot="start" name="mail-outline"></ion-icon>
          </ion-input>
          <ion-text color="danger" *ngIf="f['email'].errors && f['email'].touched">
            <p *ngIf="f['email'].hasError('required')">Email is required.</p>
            <p *ngIf="f['email'].hasError('email')">Invalid email format.</p>
          </ion-text>

          <!-- Password Field -->
          <ion-input
            type="password"
            formControlName="password"
            label="Password"
            labelPlacement="floating"
            fill="solid"
          >
            <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          </ion-input>
          <ion-text color="danger" *ngIf="f['password'].errors && f['password'].touched">
            <p *ngIf="f['password'].hasError('required')">Password is required.</p>
            <p *ngIf="f['password'].hasError('minlength')">Password must be at least 6 characters long.</p>
          </ion-text>

          <!-- Repeat Password Field -->
          <ion-input
            type="password"
            formControlName="repeat_password"
            label="Repeat Password"
            labelPlacement="floating"
            fill="solid"
          >
            <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          </ion-input>
          <ion-text color="danger" *ngIf="registerForm.hasError('passwordMismatch') && f['repeat_password'].touched">
            <p>Passwords do not match.</p>
          </ion-text>

          <!-- Country Field -->
          <ion-select label="Country" labelPlacement="floating" formControlName="country" placeholder="Select Country" interface="popover">
            <ion-icon slot="start" name="globe-outline"></ion-icon>
            <ion-select-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</ion-select-option>
          </ion-select>
          <ion-text color="danger" *ngIf="f['country'].errors && f['country'].touched">
            <p *ngIf="f['country'].hasError('required')">Country is required.</p>
          </ion-text>

          <!-- Language Field -->
          <ion-select formControlName="language" placeholder="Select Language" interface="popover">
            <ion-label position="floating">Language</ion-label>
            <ion-icon slot="start" name="language-outline"></ion-icon>
            <ion-select-option *ngFor="let language of languages" [value]="language.code">{{ language.name }}</ion-select-option>
          </ion-select>
          <ion-text color="danger" *ngIf="f['language'].errors && f['language'].touched">
            <p *ngIf="f['language'].hasError('required')">Language is required.</p>
          </ion-text>

          <ion-button expand="full" type="submit" [disabled]="registerForm.invalid">Register</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
